@font-face {
    font-family: "ApfelGrotezk";
    src:
        url("../assets/ApfelGrotezk-Regular.woff2") format("woff2"),
        url("../assets/ApfelGrotezk-Regular.woff") format("woff");

    font-weight: 400;
}

@font-face {
    font-family: "ApfelGrotezk";
    src:
        url("../assets/ApfelGrotezk-Fett.woff2") format("woff2"),
        url("../assets/ApfelGrotezk-Fett.woff") format("woff");

    font-weight: 700;
}

@font-face {
    font-family: "ApfelGrotezk";
    src:
        url("../assets/ApfelGrotezk-Mittel.woff2") format("woff2"),
        url("../assets/ApfelGrotezk-Mittel.woff") format("woff");

    font-weight: 500;
}

@font-face {
    font-family: "ApfelGrotezk";
    src:
        url("../assets/ApfelGrotezk-Satt.woff2") format("woff2"),
        url("../assets/ApfelGrotezk-Satt.woff") format("woff");

    font-weight: 900;
}

@mixin horizontal-center() {
    left: 50%;
    transform: translateX(-50%);
}

@mixin vertical-center() {
    top: 50%;
    transform: translateY(-50%);
}

@mixin center() {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes background-blur {
    0%,
    100% {
        // background-size: 100%;
        background-position: 0% 50%;
    }
    50% {
        // background-size: 120%;
        background-position: 100% 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}
