@import "./functions";
@import "./resets";

$bg-color: #080809;
$bg-color2: #2a2a2f;
$dark-bg-color: #000000;
$bright-bg-color: #cbcbd4;
$text-color: #f2f2f2;
$accent-color: #6bc395;
$green-color: #6bc395;

$positive-color: $green-color;
$negative-color: #c2746b;

$primary-font: "ApfelGrotezk", Helvetica, Arial, sans-serif;
$header-font: "ApfelGrotezk", Helvetica, sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
    "bolder": 900
);
$font-sizes: (
    "small": 17px,
    "medium": 28px,
    "large": 60px
);

$default-border: 1px solid $bright-bg-color;
$default-radius: 50px;
$default-smaller-radius: 10px;
$default-padding: 40px;

$inner-glare: inset $bright-bg-color 0px 0px 20px -10px;
$inner-shadow: inset $bg-color 0px 0px 20px -10px;
$green-inner-glare: inset $green-color 0px 0px 20px -10px;
$outer-glare: 0px 0px 26px 0px $bright-bg-color;

$tranistion-time: 0.3s;

body {
    background-color: $bg-color;
    background: radial-gradient(circle, $bg-color, $bg-color2), url(../assets/noise-texture.svg);
    background-size: 200vw 200vh;
    background-attachment: fixed;

    animation: background-blur 20s ease infinite;

    color: $text-color;
    font-family: $primary-font;

    &::before {
        content: " ";
        position: absolute;
        right: 180px;
        bottom: 80px;
        background-color: $bg-color2;
        width: 450px;
        height: 450px;
        border-radius: 100%;
        // box-shadow: inset -7px -10px 31px -9px $bg-color;
        filter: blur(50px);
        opacity: 0.5;

        z-index: -1;
    }

    &::after {
        content: " ";
        position: absolute;
        right: 550px;
        bottom: 350px;
        background-color: $bg-color2;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        // box-shadow: inset -7px -10px 31px -9px $bg-color;
        filter: blur(50px);
        opacity: 0.5;
        z-index: -1;

        // transform-origin: bottom 80 + (450/2) px right 180 + (450/2) px;
        // animation: spin 5s ease infinite;
    }
}

nav {
    display: none;
    position: absolute;

    .top-horizontal-bar {
        position: relative;
        width: 100%;
        top: 0;

        h1 {
            font-family: $header-font;
            font-size: map-get($font-sizes, large);
        }
    }

    .left-vertical-bar {
        position: relative;
        // transform: rotate(-90deg);
        top: 0;
        left: 0;
        * {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
        h2 {
            font-family: $header-font;
            font-size: map-get($font-sizes, medium);
        }
    }
}

main {
    position: relative;
    padding: $default-padding;
    min-height: 100vh;

    &::after {
        content: " ";
        width: 100vw;
        height: 100vh;
        background-color: #6bc395;
        z-index: 100000;
    }
}

.controls {
    position: absolute;
    max-width: 95vw;
    min-height: 500px;
    @include center;
    padding-top: 40px;

    .started & {
        visibility: hidden;
    }

    .lottery-type {
        display: block;
        margin: 0 auto;
        background-color: transparent;
        color: $text-color;
        border: none;
        font-weight: map-get($font-weights, regular);
        font-family: $header-font;
        font-size: map-get($font-sizes, medium);

        option {
            text-align: center;
            background-color: $bg-color;
        }
        option:last-child {
            background-color: $accent-color;
            font-weight: map-get($font-weights, medium);
        }
    }

    .guess-settings {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 98vw;

        .guess {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            section {
                display: inline-flex;

                gap: $default-padding;
                margin: 10px;
                padding: $default-padding;
                // border: $default-border;
                border-radius: $default-radius;
                box-shadow: $inner-glare;
                background-color: rgba($bg-color, 0.22);

                transition: $tranistion-time;

                &::before {
                    background-color: $dark-bg-color;
                    width: 100%;
                    height: 100%;
                }
            }
            select {
                position: relative;
                font-size: map-get($font-sizes, large);
                width: 1.2em;
                height: 2em;
                background-color: $bright-bg-color;
                border-radius: $default-smaller-radius;
                font-weight: map-get($font-weights, bold);

                appearance: none;
                text-align: center;
                justify-content: center;
                box-shadow: $inner-shadow, $outer-glare;
                transition: $tranistion-time;
                option {
                    transition: $tranistion-time;
                    font-size: map-get($font-sizes, small);
                }

                &:enabled:hover {
                    // top: -5px;
                    // border: $default-border;
                    // border-color: $green-color;
                    box-shadow: $outer-glare;
                }
            }
        }
        .random-guess-checkbox {
            display: none;
        }

        .random-guess-btn {
            // position: absolute;
            // right: -1.2em;
            font-size: map-get($font-sizes, large);
            display: flex;
            padding: 12px;
            // margin-left: 8px;
            background-color: rgba($bg-color, 0.22);
            border-radius: $default-smaller-radius;
            // border: $default-border;
            border-color: transparent;
            box-shadow: $inner-glare;
            width: 1.2em;
            text-align: center;
            justify-content: center;
            transition: $tranistion-time;
            img {
                width: 100%;
                opacity: 0.9;
            }
        }

        .random-guess-checkbox:checked + .random-guess-btn {
            border-color: $green-color;
            box-shadow: $green-inner-glare;
        }
    }

    .rounds-per-week {
        display: inline-block;
        position: absolute;
        @include horizontal-center;
        input {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 10rem;
            &::-webkit-slider-runnable-track {
                // ADD FOR MOZZILLA
                box-shadow: $inner-glare;
                border-radius: 10px;
                height: 0.7rem;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none; /* Override default look */
                appearance: none;
                background-color: $bright-bg-color;
                box-shadow: $outer-glare;
                height: 1rem;
                width: 1rem;
                margin-top: -2px;
                border-radius: 10px;
            }
        }

        output,
        label {
            font-weight: map-get($font-weights, regular);
            color: $text-color;
            opacity: 0.5;
        }
    }

    #start-btn {
        display: block;
        margin: 0 auto;
        min-width: 100px;
        min-height: 40px;
        padding: 10px 40px;
        position: absolute;
        bottom: 0;
        @include horizontal-center;

        font-family: $primary-font;
        font-weight: map-get($font-weights, bold);
        font-size: map-get($font-sizes, medium);
        border-radius: 16px;
        border: none;
        background-color: $green-color;
        box-shadow: 0px 0px 34px 0px $green-color;
    }
}

.result {
    display: none;

    flex-direction: column;

    gap: 5px;

    width: 50%;
    position: absolute;
    right: $default-padding;
    @include vertical-center;
    padding: $default-padding;
    border-radius: $default-radius;
    box-shadow: $inner-glare;
    background-color: rgba($bg-color, 0.4);

    transition: $tranistion-time;
    z-index: 3;

    .started & {
        display: flex;
        // animation-name: slide-right;
        animation-duration: 1s;
        // animation-delay: 0.5s;
        animation-iteration-count: 1;
    }

    h4 {
        font-size: map-get($font-sizes, small);

        &:not(:first-child) {
            margin-top: 15px;
        }
    }

    p {
        font-size: map-get($font-sizes, medium);

        display: block;

        &.total-balance.positive {
            color: $positive-color;
        }

        &.total-balance.negative {
            color: $negative-color;
        }
    }
}

.earth-anim {
    display: none;
    position: absolute;
    width: 50%;
    overflow: visible;
    text-align: center;
    @include vertical-center;
    transition: $tranistion-time;

    svg {
        width: 500px;
        overflow: visible;
    }

    .space {
        // position: absolute;
        overflow: visible;
        transform-origin: center;
        transform: rotate(90deg);
        /*animation: spin 20s ease-in-out 0 infinite;*/
        animation-name: spin;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        // animation-delay: 1s;
        animation-timing-function: cubic-bezier(0.515, 1.49, 0.54, -0.545);
        animation-fill-mode: forwards;
        // -webkit-animation-fill-mode: forwards;
    }

    .moon {
        box-shadow: $outer-glare;
        // filter: blur(5px);
    }

    .sun {
        // box-shadow: 0px 0px 26px 0px #f5df00;
        // filter: blur(5px);
    }

    .started & {
        display: block;
        // animation-name: slide-left;
        animation-duration: 1s;
        // animation-delay: 0.5s;
        animation-iteration-count: 1;
    }
}

.custom-settings-popup {
    position: absolute;
    z-index: 100;

    width: 90%;
    margin-top: 5%;
    @include horizontal-center;
    border-radius: $default-smaller-radius;
    box-shadow: $inner-glare;
    padding: $default-padding;
    background-color: rgba($bg-color, 0.4);
    backdrop-filter: blur(50px);

    .exit-btn {
        position: absolute;
        right: $default-padding;
        top: $default-padding;

        font-size: map-get($font-sizes, large);
    }

    h4 {
        font-size: map-get($font-sizes, medium);
        margin: 20px 0;
    }

    .guess-settings {
        display: flex;
        align-items: center;

        .guess-sections {
            display: flex;
            flex-wrap: wrap;

            .guess-section {
                // display: flex;

                gap: $default-padding;
                margin: 10px;
                padding: $default-padding;
                // border: $default-border;
                border-radius: $default-radius;
                box-shadow: $inner-glare;
                background-color: rgba($bg-color, 0.22);

                transition: $tranistion-time;

                &::before {
                    background-color: $dark-bg-color;
                    width: 100%;
                    height: 100%;
                }

                .section-fields {
                    display: inline-flex;
                    gap: 15px;
                    // background-color: blue;
                    padding: 10px;
                    margin: 5px;

                    .guess-field {
                        position: relative;
                        font-size: map-get($font-sizes, large);
                        width: 1.2em;
                        height: 2em;
                        background-color: $bright-bg-color;
                        border-radius: $default-smaller-radius;
                        font-weight: map-get($font-weights, bold);

                        appearance: none;
                        text-align: center;
                        justify-content: center;
                        box-shadow: $inner-shadow, $outer-glare;

                        &:hover {
                            background-color: red;
                        }
                    }
                }
                .section-number-range {
                    text-align: center;
                    display: block;

                    input {
                        margin: 8px;
                        min-width: 50px;
                        color: $text-color;
                        background-color: $bg-color2;
                        border: $default-border;
                        border-radius: $default-smaller-radius;
                        text-align: center;
                    }
                }
                .add-field-btn {
                    display: inline-block;
                    box-shadow: $inner-glare;
                    padding: 10px;
                    border-radius: $default-radius;

                    font-weight: map-get($font-weights, regular);
                    font-size: map-get($font-sizes, medium);
                }
            }
        }
        .add-section-btn {
            padding: 30px 15px;
            box-shadow: $inner-glare;
            border-radius: $default-smaller-radius;
            font-weight: map-get($font-weights, bold);
            font-size: map-get($font-sizes, medium);
            text-align: center;
        }
    }

    .rewards-table {
        border-radius: $default-smaller-radius;
        td {
            border: $default-border;

            text-align: center;
            min-width: 30px;
            input {
                min-width: 50px;
                color: $text-color;
                background-color: $bg-color2;
                border: $default-border;
                border-radius: $default-smaller-radius;
                text-align: center;
            }
        }
    }

    .guess-price {
        margin: 20px 0;

        input {
            min-width: 50px;
            color: $text-color;
            background-color: $bg-color2;
            border: $default-border;
            border-radius: $default-smaller-radius;
            text-align: center;
        }
    }
}

.time {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
