*[class$=btn] {
  cursor: pointer;
}

@font-face {
  font-family: "ApfelGrotezk";
  src: url("../assets/ApfelGrotezk-Regular.woff2") format("woff2"), url("../assets/ApfelGrotezk-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "ApfelGrotezk";
  src: url("../assets/ApfelGrotezk-Fett.woff2") format("woff2"), url("../assets/ApfelGrotezk-Fett.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "ApfelGrotezk";
  src: url("../assets/ApfelGrotezk-Mittel.woff2") format("woff2"), url("../assets/ApfelGrotezk-Mittel.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "ApfelGrotezk";
  src: url("../assets/ApfelGrotezk-Satt.woff2") format("woff2"), url("../assets/ApfelGrotezk-Satt.woff") format("woff");
  font-weight: 900;
}
@keyframes background-blur {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide-right {
  from {
    right: -100vw;
  }
  to {
    right: 0;
  }
}
@keyframes slide-left {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  background-color: #080809;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

html {
  background-color: #080809;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  color: #f2f2f2;
  font-family: "ApfelGrotezk", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #080809;
  background: radial-gradient(circle, #080809, #2a2a2f), url(../assets/noise-texture.svg);
  background-size: 200vw 200vh;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: 200vw 200vh;
  -moz-background-size: 200vw 200vh;
  -o-background-size: 200vw 200vh;
  height: 100%;
  width: 100%;
  animation: background-blur 20s ease infinite;
}
body::before {
  content: " ";
  position: absolute;
  right: 180px;
  bottom: 80px;
  background-color: #2a2a2f;
  width: 450px;
  height: 450px;
  border-radius: 100%;
  filter: blur(50px);
  opacity: 0.5;
  z-index: -1;
}
body::after {
  content: " ";
  position: absolute;
  right: 550px;
  bottom: 350px;
  background-color: #2a2a2f;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  filter: blur(50px);
  opacity: 0.5;
  z-index: -1;
}

nav {
  display: none;
  position: absolute;
}
nav .top-horizontal-bar {
  position: relative;
  width: 100%;
  top: 0;
}
nav .top-horizontal-bar h1 {
  font-family: "ApfelGrotezk", Helvetica, sans-serif;
  font-size: 60px;
}
nav .left-vertical-bar {
  position: relative;
  top: 0;
  left: 0;
}
nav .left-vertical-bar * {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
nav .left-vertical-bar h2 {
  font-family: "ApfelGrotezk", Helvetica, sans-serif;
  font-size: 28px;
}

main {
  position: relative;
  padding: 40px;
  min-height: 100vh;
}
main::after {
  content: " ";
  width: 100vw;
  height: 100vh;
  background-color: #6bc395;
  z-index: 100000;
}
@media screen and (max-width: 800px) {
  main {
    padding: 20px;
  }
}

.controls {
  position: absolute;
  max-width: 95vw;
  min-height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  transition: 0.3s;
}
.started .controls {
  opacity: 0;
  top: -200px;
}
.controls .lottery-type {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #f2f2f2;
  border: none;
  font-weight: 400;
  font-family: "ApfelGrotezk", Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  background-size: 30px;
  padding-right: 30px;
}
.controls .lottery-type option {
  text-align: center;
  background-color: #080809;
}
.controls .lottery-type option:last-child {
  background-color: #6bc395;
  font-weight: 500;
}
.controls .guess-settings {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 98vw;
}
.controls .guess-settings .guess {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-color: #cbcbd4 #080809;
  scrollbar-width: thin;
}
.controls .guess-settings .guess section {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 40px;
  margin: 10px;
  padding: 40px;
  border-radius: 50px;
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  background-color: rgba(8, 8, 9, 0.22);
  transition: 0.3s;
}
.controls .guess-settings .guess section::before {
  background-color: #000000;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .controls .guess-settings .guess section {
    padding: 20px;
    gap: 13.3333333333px;
    border-radius: 25px;
  }
}
@media screen and (max-width: 300px) {
  .controls .guess-settings .guess section {
    overflow-x: scroll;
  }
}
.controls .guess-settings .guess select {
  position: relative;
  font-size: 60px;
  width: 1.2em;
  height: 2em;
  background-color: #cbcbd4;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  justify-content: center;
  box-shadow: inset #080809 0px 0px 20px -10px, 0px 0px 26px 0px #cbcbd4;
  transition: 0.3s;
  color: #000000;
}
.controls .guess-settings .guess select option {
  transition: 0.3s;
  font-size: 17px;
}
.controls .guess-settings .guess select:enabled:hover {
  box-shadow: 0px 0px 26px 0px #cbcbd4;
}
.controls .guess-settings .guess select:disabled {
  filter: brightness(0.7);
}
@media screen and (max-width: 800px) {
  .controls .guess-settings .guess select {
    font-size: 28px;
    padding: 0;
    box-shadow: inset #080809 0px 0px 20px -10px;
    border-radius: 10px;
    width: 10vw;
    height: 20vw;
  }
}
@media screen and (max-width: 800px) {
  .controls .guess-settings .guess {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
}
.controls .guess-settings .random-guess-checkbox {
  display: none;
}
.controls .guess-settings .random-guess-btn {
  font-size: 60px;
  display: flex;
  padding: 12px;
  background-color: rgba(8, 8, 9, 0.22);
  border-radius: 10px;
  border-color: transparent;
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  text-align: center;
  justify-content: center;
  transition: 0.3s;
}
.controls .guess-settings .random-guess-btn img {
  width: 50px;
  height: 50px;
  opacity: 0.9;
}
@media screen and (max-width: 800px) {
  .controls .guess-settings .random-guess-btn {
    padding: 12px 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .controls .guess-settings .random-guess-btn img {
    width: 25px;
    height: 25px;
  }
}
.controls .guess-settings .random-guess-checkbox:checked + .random-guess-btn {
  border-color: #6bc395;
  box-shadow: inset #6bc395 0px 0px 20px -10px;
}
@media screen and (max-width: 800px) {
  .controls .guess-settings {
    flex-wrap: wrap;
  }
}
.controls .rounds-per-week {
  display: inline-flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.controls .rounds-per-week input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
}
.controls .rounds-per-week input::-webkit-slider-runnable-track {
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  border-radius: 10px;
  height: 0.7rem;
}
.controls .rounds-per-week input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: #cbcbd4;
  box-shadow: 0px 0px 26px 0px #cbcbd4;
  height: 1rem;
  width: 1rem;
  margin-top: -2px;
  border-radius: 10px;
}
.controls .rounds-per-week output,
.controls .rounds-per-week label {
  margin-left: 3px;
  font-weight: 400;
  color: #f2f2f2;
  opacity: 0.5;
}
.controls #start-btn {
  display: block;
  margin: 0 auto;
  min-width: 100px;
  min-height: 40px;
  padding: 10px 40px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "ApfelGrotezk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  border-radius: 16px;
  border: none;
  background-color: #6bc395;
  box-shadow: 0px 0px 34px 0px #6bc395;
  cursor: pointer;
  color: #000000;
}

.result {
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
  border-radius: 50px;
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  background-color: rgba(8, 8, 9, 0.4);
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  .result {
    position: static;
    width: 100%;
    margin: 0 auto;
    transform: none;
    margin-top: 15px;
  }
}
.started .result {
  display: flex;
  animation-name: slide-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.result h4 {
  font-size: 17px;
}
.result h4:not(:first-child) {
  margin-top: 15px;
}
.result p {
  font-size: 28px;
  display: block;
}
.result p.total-balance.positive {
  color: #6bc395;
}
.result p.total-balance.negative {
  color: #c2746b;
}
.won .result p.top-price-wins {
  color: #eed461;
  font-weight: 700;
}

.reset-btn {
  display: none;
  margin: 0 auto;
  min-width: 100px;
  min-height: 40px;
  padding: 10px 40px;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "ApfelGrotezk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  border-radius: 16px;
  border: none;
  background-color: #c2746b;
  box-shadow: 0px 0px 34px 0px #c2746b;
  cursor: pointer;
  color: #000000;
}
@media screen and (max-width: 800px) {
  .reset-btn {
    position: fixed;
  }
}
.started .reset-btn {
  display: block;
}

.simulation-speed-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
}
.simulation-speed-input::-webkit-slider-runnable-track {
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  border-radius: 10px;
  height: 0.7rem;
}
.simulation-speed-input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: #cbcbd4;
  box-shadow: 0px 0px 26px 0px #cbcbd4;
  height: 1rem;
  width: 1rem;
  margin-top: -2px;
  border-radius: 10px;
}

.earth-anim {
  display: none;
  position: absolute;
  width: 50%;
  overflow: visible;
  left: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  .earth-anim {
    position: static;
    margin: 0 auto;
    transform: none;
  }
}
.earth-anim svg {
  margin: 0 auto;
  width: 50%;
  min-width: 120px;
  overflow: visible;
}
.earth-anim .space {
  overflow: visible;
  transform-origin: center;
  transform: rotate(90deg);
  /*animation: spin 20s ease-in-out 0 infinite;*/
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.515, 1.49, 0.54, -0.545);
  animation-fill-mode: forwards;
}
.won .earth-anim .space {
  animation-duration: 6s;
  animation-iteration-count: 1;
}
.started .earth-anim {
  display: block;
  animation-name: slide-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.custom-settings-popup {
  position: absolute;
  z-index: 100;
  min-height: 70vh;
  width: 90%;
  margin-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  padding: 40px;
  background-color: rgba(8, 8, 9, 0.4);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.custom-settings-popup .exit-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 40px;
  top: 40px;
  font-size: 60px;
  background-image: url("../assets/x-lg.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.custom-settings-popup h4 {
  display: inline;
  font-size: 28px;
  margin: 20px 0;
}
.custom-settings-popup p {
  display: inline;
  font-size: 17px;
}
.custom-settings-popup .guess-settings {
  display: flex;
  align-items: center;
}
.custom-settings-popup .guess-settings .guess-sections {
  display: flex;
  flex-wrap: wrap;
}
.custom-settings-popup .guess-settings .guess-sections .guess-section {
  gap: 40px;
  margin: 10px;
  padding: 40px;
  border: 1px solid #cbcbd4;
  border-style: dashed;
  border-radius: 50px;
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  background-color: rgba(8, 8, 9, 0.22);
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  .custom-settings-popup .guess-settings .guess-sections .guess-section {
    padding: 13.3333333333px;
    border-radius: 16.6666666667px;
  }
}
.custom-settings-popup .guess-settings .guess-sections .guess-section::before {
  background-color: #000000;
  width: 100%;
  height: 100%;
}
.custom-settings-popup .guess-settings .guess-sections .guess-section .section-fields {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  margin: 5px;
  max-width: 80vw;
}
.custom-settings-popup .guess-settings .guess-sections .guess-section .section-fields .guess-field {
  position: relative;
  font-size: 60px;
  width: 1.2em;
  height: 2em;
  background-color: #cbcbd4;
  border-radius: 10px;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  justify-content: center;
  box-shadow: inset #080809 0px 0px 20px -10px, 0px 0px 26px 0px #cbcbd4;
  transition: 0.3s;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .custom-settings-popup .guess-settings .guess-sections .guess-section .section-fields .guess-field {
    font-size: 17px;
    box-shadow: inset #080809 0px 0px 20px -10px;
    border-radius: 5px;
    width: 2em;
    height: 3.2em;
  }
}
.custom-settings-popup .guess-settings .guess-sections .guess-section .section-fields .guess-field:hover {
  border: 1px solid #cbcbd4;
  border-color: #c2746b;
  border-width: 3px;
  background-image: url("../assets/trash.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 60%;
  cursor: pointer;
}
.custom-settings-popup .guess-settings .guess-sections .guess-section .section-number-range {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.custom-settings-popup .guess-settings .guess-sections .guess-section .section-number-range input {
  margin: 8px;
  min-width: 40px;
  color: #f2f2f2;
  background-color: #2a2a2f;
  border: 1px solid #cbcbd4;
  border-radius: 10px;
  text-align: center;
}
.custom-settings-popup .guess-settings .guess-sections .guess-section .add-field-btn {
  display: inline-block;
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #cbcbd4;
  font-weight: 400;
  font-size: 28px;
  background-image: url("../assets/plus.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.custom-settings-popup .guess-settings .guess-sections .guess-section .add-field-btn:hover {
  border: 1px solid #cbcbd4;
  border-color: #6bc395;
  border-width: 3px;
}
.custom-settings-popup .guess-settings .add-section-btn {
  display: block;
  width: 1.2em;
  height: 2em;
  min-width: 30px;
  box-shadow: inset #cbcbd4 0px 0px 20px -10px;
  border-radius: 10px;
  border: 1px solid #cbcbd4;
  border-style: dashed;
  font-weight: 700;
  font-size: 28px;
  background-image: url("../assets/plus.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.custom-settings-popup .guess-settings .add-section-btn:hover {
  border: 1px solid #cbcbd4;
  border-color: #6bc395;
  border-width: 3px;
}
.custom-settings-popup .rewards-table {
  margin: 8px;
}
.custom-settings-popup .rewards-table td {
  text-align: center;
  min-width: 30px;
}
.custom-settings-popup .rewards-table td input {
  min-width: 50px;
  color: #f2f2f2;
  background-color: #2a2a2f;
  border: 1px solid #cbcbd4;
  border-radius: 10px;
  text-align: center;
}
.custom-settings-popup .rewards-table td[class^=td], .custom-settings-popup .rewards-table td[class^=inp] {
  border: 1px solid #cbcbd4;
  border-style: dashed;
  border-radius: 10px;
  padding: 8px;
}
.custom-settings-popup .guess-price {
  margin: 20px 0;
}
.custom-settings-popup .guess-price p {
  font-size: 28px;
}
.custom-settings-popup .guess-price input {
  min-width: 50px;
  color: #f2f2f2;
  background-color: #2a2a2f;
  border: 1px solid #cbcbd4;
  border-radius: 10px;
  text-align: center;
}

.time {
  position: fixed;
  right: 10px;
  bottom: 10px;
  opacity: 0.2;
}/*# sourceMappingURL=main.css.map */